body {
  background: #ddffaa;
  font-size: 16px; }

.box, .box-blue, .box-pink {
  display: inline-block;
  border: 1px solid;
  min-width: 3em;
  min-height: 3em; }

.box-blue {
  background-color: blue; }
  .box-blue .header {
    background-color: #6666ff; }
  .box-blue .content {
    background-color: #0000e6;
    font-size: 9.6px; }

.box-pink {
  background-color: pink; }
  .box-pink .header {
    background-color: white; }
  .box-pink .content {
    background-color: #ffa6b6;
    font-size: 9.6px; }
